<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
<script src="http://use.edgefonts.net/gruppo:n4:all.js"></script>
<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Wire+One"rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Raleway"rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300" rel="stylesheet" type="text/css">


<!-- Code Syntax Highlighter -->
<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
<link rel="stylesheet" href="/static/css/google_code.css">
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>


<script>hljs.initHighlightingOnLoad();</script>



{% block headerInsert %}{% endblock %}


</head>
<body>

<div class="topBar">


  <ul id="nav">

    <li><a href="/">Home</a></li>  

    <li><a href="/users/login.html">Login</a></li>  

    <li><a href="/users/logout.html">Logout</a></li>  

  </ul><!-- ending nav -->


  <div id="title">
    <h1>Fractal Studios</h1>
  </div>


  {% comment %}
    <a href="#">Home</a>
    <a href="#">Blog</a>
    <a href="#">Projects</a>
    <a href="#">Wiki</a>
    <a href="#">Inventory</a>
    <a href="#">About</a>
    <a href="#">Admin</a>
    <a href="#">Login</a>
    <a href="#">Logout</a>
  {% endcomment %}
</div><!-- ending topBar -->
    

<banner>
  <img src="/static/images/banner_images/2.jpg"/>
</banner>

<div class="container">

<div class="sidebar">

  <h2>Quick Links</h2>
  
  <ul>
    <li>
      <div class="sidebarElement">
        <h3><a href="#">Recent Posts</a></h3>
        <p></p>
      </div><!-- end .sidebarElement -->
    </li>


    <li>
      <div class="sidebarElement">
        <h3><a href="#">Categories</a></h3>
        <p></p>
      </div><!-- end .sidebarElement -->
    </li>


    <li>
      <div class="sidebarElement">
        <h3><a href="#">Search</a></h3>
        <p></p>
      </div><!-- end .sidebarElement -->
    </li>
  </ul>


  <h2>Quick Links</h2>
  
  <ul>
    <li>
      <div class="sidebarElement">
        <h3><a href="#">Recent Posts</a></h3>
        <p></p>
      </div><!-- end .sidebarElement -->
    </li>


    <li>
      <div class="sidebarElement">
        <h3><a href="#">Categories</a></h3>
        <p></p>
      </div><!-- end .sidebarElement -->
    </li>


    <li>
      <div class="sidebarElement">
        <h3><a href="#">Search</a></h3>
        <p></p>
      </div><!-- end .sidebarElement -->
    </li>
  </ul>


</div><!-- end .sidebar -->

<div class="content">
  <h1 id="pageHeader">{% block pageTitle %}{% endblock %}</h1>


  {% block pageContent %}{% endblock %}



</div><!-- end .container -->


<footer>
  <p>Jason Hopper, Fractal Studios 2014.</p>
</footer>

</body><!-- ending .wrapper -->

</html>





     

