html {
    display: block;
}
body {
    max-width:1234px;
    font-family: 'Lato', serif;
    display: block;
    margin: 0 auto;
}
.topBar {
    display: inline-block;
    margin-bottom: 0%;
    padding-bottom: 0;
    margin-top: 1%;
    width: 100%;
}



.topBar #title {
    display: block;
    width-max: 20%;
    vertical-align: bottom
    font-family: 'Lato', serif;
    float: left;
    margin-right: 10%;
}

.topBar #title h1{
    font-family: 'Lato', serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;    
    margin-top: 3%;
    margin-bottom: 0;
}

.topBar #nav {
    float: right;
    margin: 0;
    margin-left: 10%;
    margin-top: 1.5%;
    padding: 0;
    list-style: none;
    vertical-align: bottom;
    position: relative
} 

.topBar #nav li {
    display: inline;
    text-align: right;
    margin-bottom: 0;
    margin-left: 0.5em;
    background-color: #fefefe;
    line-height: 1;
}

.topBar #nav a {
	display: inline;
	line-height: 30px;
	margin-right: 1px;
	padding: 10px 5px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 200;
	color: #1F1F1F;
	border: none;
                
}

banner {
    display: block;
    width:100%
    padding-bottom: 0;
    margin-bottom: 0;
}

banner img{
    width: 100%;
    /*Don't specify height so it auto scales.*/
}


.container {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}



.sidebar {
    float: left;
    width: 15%;
    border-right: 1px #000 solid;
    margin-right: 3%;
    padding-right: 3%;
    padding-left: 0;
    min-height: 750px;
}

.sidebar h2 {
    font-family: 'gruppo', serif;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 1.6em;
    /*text-shadow: 5px 0 4px #aaa;*/
    padding: 0;
    margin: 0;
    margin-top: 10%;
}

.sidebar ul {
    list-style: none;
    padding-left: 8%;
    padding-top: 4%;
    padding-bottom: 10%;
    margin-bottom: 20%;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

.sidebar h3 {
    font-family: 'gruppo', serif;
    font-weight: 200;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    margin-top: 10%;
}

.sidebar a {
	text-decoration: none;
	color: #0000FF;
}

.sidebar h3 a:visited {
    color: #0000FF;
}

.sidebar h3 a:hover {
    font-size: 1.2em;
}



/*****************************************

    General content page

******************************************/



.content {
    float:left;
    display: block;    
    width: 78%;
}

.content h1#pageHeader {
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid #555;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}


.content table {
    padding: 1%;
    border-collapse: collapse;
}

.content table, th, td {
    border: 1px solid #E00;
    padding: 0 5% 0 5%;
    text-align: center;
    white-space:nowrap;
}









footer {
    padding: 0.5%;
    clear: both;
    margin: auto;
    background: #222;
    color: #FFF;
    text-align: center;
}

footer p {
    margin: 0 auto;
    margin: auto auto;
    text-align: center;
}
